.grid{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
   border: 1px solid white;
}

.square {
    height: 200px;
    width: 200px;
    border: 1px solid white;
    box-sizing: border-box;
}

.mole {
background-image: url('psyduck.png');
background-size: cover;
}

body{
    background-color: black;
  color: white
}